/* style.css */

/* Body styling */
body {
    font-family: Arial, sans-serif;
    background-color: #ffffff;
    color: #333;
    font-size: 30px;
    transform: scale(0.8);
    transform-origin: top;
    text-align: center;
    background-image: url('bg.png');
}

/* Header styling */
h3 {
    color: #dfef06;
    
}

b{
    color: #1aff00;
}

/* Input and select box styling */
.boxes, select {
    padding: 8px;
    border: 4px solid #2b5fd6;
    border-radius: 10px;
    width: 100px;
}



/* Submit button styling */
#submitButton, #reload {
    padding: 10px 20px;
    background-color:  #ab0ae6;
    color: white;
    border: none;
    border-radius: 4px;
    cursor: pointer;
}
/* Refresh button styling */
#refresh {
    padding: 10px 20px;
    background-color: #1f27f7;
    color: white;
    border: none;
    border-radius: 4px;
    cursor: pointer;
    display: none;
    

}

#submitButton:hover {
    background-color: #005F6B;
}

/* Result paragraph styling */
#result {
    font-size: 18px;
    font-weight: bold;
    padding: 10px;
    /* display: none; */
    color: #1b86ce;
}

/* BMI paragraph styling */
#bmi{
    font-size: 24px;
    font-weight: bold;
    color: #09000a;
    background-color: #3eb9f6;
}



#indicator {
    font-size: 24px;
    font-weight: bold;
    text-align: left;
    font-family: serif;
    color: #ffffff;
    padding: 20px;
    background-color: #000;
    border-radius: 50px;
    border: 3px solid #ccc;
    display: none;
}

